<header class="site-header">
  <div class="wrapper">
    <a class="site-title" rel="author" href="{{ '/' | relative_url }}">{{ site.title | escape }}</a>

    {%- if site.posts != empty %}
      <nav class="site-nav">
        <input type="checkbox" id="nav-trigger" />
        <label for="nav-trigger">
          <span class="menu-icon"></span>
        </label>

        {% assign post_paths = site.nav_bar_links | map: "path" %}
        {% include nav-items.html paths = post_paths %}
      </nav>
    {%- endif %}
  </div>
</header>