<header class="site-header">
  <div class="wrapper">
    <!-- Titre du site -->
    <a class="site-title" rel="author" href="{{ '/' | relative_url }}">{{ site.title | escape }}</a>

    <!-- Navigation avec les posts -->
    {%- if site.posts != empty %}
      <nav class="site-nav">
        <div class="trigger">
          {%- for post in site.posts %}
            <a class="page-link" href="{{ post.url | relative_url }}">{{ post.title | escape }}</a>
          {%- endfor %}
        </div>
      </nav>
    {%- endif %}
  </div>
</header>